<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="copyright" xmlns:th="http://www.w3.org/1999/xhtml">
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/sockjs-client/1.1.1/sockjs.js"></script>
    <script src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/footer.js"></script>
</div>
</html>
