<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="navigation" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="header">
        <div class="menu-btn">
            <div class="menu"></div>
        </div>
        <h1 class="logo">
            <a href="index.html">
                <span>MYBLOG</span>
                <img src="/static/img/logo.png">
            </a>
        </h1>
        <div class="nav">
            <a href="index.html" class="active">文章</a>
            <a href="whisper.html">微语</a>
            <a href="leacots.html">留言</a>
            <a href="album.html">相册</a>
            <a href="about.html">关于</a>
        </div>
        <ul class="layui-nav header-down-nav">
            <li class="layui-nav-item"><a href="index.html" class="active">文章</a></li>
            <li class="layui-nav-item"><a href="whisper.html">微语</a></li>
            <li class="layui-nav-item"><a href="leacots.html">留言</a></li>
            <li class="layui-nav-item"><a href="album.html">相册</a></li>
            <li class="layui-nav-item"><a href="about.html">关于</a></li>
            <li class="layui-nav-item"><a href="about.html">登录1</a></li>
        </ul>
        <p class="welcome-text">
            <span data-method="offset" class="model">登录</span>
        </p>
    </div>
</div>
</html>
